/* You can customize theme styles here */
.cv-button {
    color: white !important;
}

.cv-button:hover {
    color: #000000 !important;
}
.icon-img {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 0.5em;
    display: inline-block;
}


@media (max-width: 768px) {
    .icon-img {
        width: 1.2em;  /* ~19px */
        height: 1.2em;
    }
}